<div class="about-main">
  <h2>Manatterとは</h2>
  <p>
    SNS投稿サービスです
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img src="https://www.homepage-tukurikata.com/image/lion.jpg" alt="ライオンの画像" width="314" height="229" border="0" />
  
  <a href=Manatterのページへ</a>
</div>